* {
  text-align: center;
}

body {
  font-family: serif;
  background-color: grey;

}

#core {
  margin: 250px;
  border: 5px solid black;
  border-radius: 20px;
  background-color: #323343;
  margin-top: 100px;

}

h1 {
  color: green;
  background-color: black;
}
p, li {
  font-size: 20px;
}
span {
  background-color: orange;
  color: yellow;
}

#name {
  font-style: italic;
}
p.cinfo {
  font-weight: bold;
  color: blue;
  background-color: black;
  display: inline;
}

ul ol {
  margin-left: 300px;
  margin: auto;
}
h2 {
  background-color: green;
}
