body {
  font-family: serif;
  background-color: grey;

}

#core {
  margin: 10em;

}

h1 {
  color: green;
  background-color: black;
  text-indent: 5em;
}
p, li {
  font-size: 20px;
}
span {
  background-color: orange;
  color: yellow;
  font-weight: bold;
}

#name {
  text-indent: 12em;
}
p.cinfo {
  font-weight: bold;
  color: blue;
  background-color: black;
}
